{% extends "base.html.twig" %}
{% block title %}User{% endblock %}
{% block body %}
    <a href="/user_list" ><button>Все пользователи</button></a>
    <h1>Пользователь:</h1>
    <label>First Name: </label>{{ firstName }}<br/>
    <label>Last Name: </label>{{ lastName }}<br/>
    <label>Middle Name: </label>{{ middleName }}<br/>
    <label>Gender: </label>{{ gender }}<br/>
    <label>Birth Date: </label>{{ birthDate }}<br/>
    <label>Email: </label>{{ email }}<br/>
    <label>Phone: </label>{{ phone }}<br/>
    <label>Avatar path: 
        {% if avatarPath != null %}
            </label><img width=200px src="/../uploads/{{ avatarPath }}">
        {% endif %}
    <br><br>
    <a href="/update_user/{{ userId }}"><button>Изменить</button></a> 
    <a href="/delete_user/{{ userId }}"><button>Удалить</button></a>
{% endblock %}